services:

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8001:8000"
    env_file:
      - .env

  frontend:
    build: ./frontend
    ports:
      - "3001:80"
